.logo
{
    margin-bottom: 15rem;
    background-color:pink;
    border-radius: 1rem;
    border-width: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}
.logo:hover
{
    cursor: pointer;
    background-color: brown;
    border-radius: 1rem;
    border-width: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.loginbutton:hover
{
  cursor: pointer;
  background-color: brown;
  border-radius: 1rem;
  border-width: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


.Searchbar
{
    padding-left: 15rem;
    width: 15rem;
    box-sizing: border-box;
}